@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-dark: #272a31;
  --color-coral: #ec5242;
  --text-coral: #f44c06;
  --color-white: #fff;
  --bg-gray: #d3d3d3;
  --text-gray: #909090;
  --text-darkgray: #565656;
}

.banner {
  min-height: 50vh;
  background-color: rgb(211, 211, 211, 0.8);
  background-size: cover;
}

.banner::before {
  content: "";
  background: url("img/backabout.png");
  background-size: cover;
  width: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 57vh;
  position: absolute;
  z-index: -1;
}

.bcontent {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.bgreeting {
  margin: 20px;
  color: var(--text-coral);
}

.bdesc {
  width: 80%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 10%;
  border-style: solid;
  border-color: var(--bg-gray);
  background-color: var(--color-white);
}

.bcontactinfo {
  width: 60%;
  margin-left: 20%;
}

.bcontent h4 {
  font-weight: bold;
  font-family: "lato", sans-serif;
  text-decoration: underline;
}

.scontainer {
  margin: 30px;
}

.sheading {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  font-family: "Lato", sans-serif;
  font-size: 22px;
}

.sdesc {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 30px;
  padding: 20px;
}

.scontainer img {
  width: 60%;
  border-style: solid;
  border-color: var(--bg-gray);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 30px;
}

.blogo {
  margin-left: 20%;
  width: 60%;
}

hr {
  color: var(--bg-gray);
}

.peventscontainer {
  font-family: "Lato", sans-serif;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.pevents {
  list-style-type: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.pevent {
  height: 100%;
  width: 85%;
  color: var(--color-white);
  margin: 15px;
}

.one {
  background-image: url(img/orange.jpg);
}

.two {
  background-image: url(img/phase.jpg);
}

.pevent h3 {
  padding: 30px;
  font-weight: bold;
  font-size: 22px;
  font-family: "lato", sans-serif;
}

.pevent p {
  padding: 20px;
}

.bfooter {
  background-color: var(--text-darkgray);
}

.bfootertext {
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  .bcontent {
    padding: 30px;
  }

  .bgreeting {
    padding: 10px;
  }

  .bcontactinfo {
    padding: 10px;
  }

  .peventsdesc {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .pevents {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .pevents li {
    margin: 0;
  }
}
